@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',serif;
}
body {
    overflow: hidden;
  }
  

  .GP {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
    font-family: 'Roboto',serif;
    object-fit: cover;
}
.GP img {
    position: absolute;
    object-fit: cover;
}
.BG {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.BG img {
    position: absolute;
    object-fit: cover;
    width: 100%;
}
.text {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.home { 
    position: absolute;
    padding-left: 0px;
    padding-top: 0px;
    width: 300px;
    height: 120px;
    z-index: 999;
}
.wheel { 
    position: absolute;
    padding-left: 1000px;
    padding-top: 360px;
    z-index: 999;
}
.APFilter { 
    position: absolute;
    padding-left: 1340px;
    padding-top: 620px;
    z-index: 999;
}
.emerP2 {   
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 1750px;
    padding-top: 0px;
    z-index: 999;
}
.settingP2 {   
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 900px;
    padding-top: 5px;
    z-index: 999;
}
.energyP2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 1100px;
    padding-top: 5px;
    z-index: 999;
}
.simP2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 700px;
    padding-top: 5px;
    z-index: 999;
}

.smoke{
    padding-left: 115px;
    padding-top: 217px;
}
.box{
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 0.9cm;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 60px; /* ปรับความสูงได้ตามต้องการ */
}
.SAflow{
    padding-left: 400px;
    padding-top: 0px;
}
.SAtemp{
    padding-left: 730px;
    padding-top: 0px;
}
.RAfilter{
    padding-left: 985px;
    padding-top: 0px;
}
.RAfilter2{
    padding-left: 1100px;
    padding-top: 0px;
}
.RAtemp{
    padding-left: 1300px;
    padding-top: 0px;
}
.RAhum{
    padding-left: 1460px;
    padding-top: 0px;
}
.EAflow{
    padding-left: 1700px;
    padding-top: 0px;
}
/* ---------------------------------FAN-------------------------------------- */
.boxfan{
    position: absolute;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 0.9cm;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 60px; /* ปรับความสูงได้ตามต้องการ */
}
.EBM{
    padding-left: 430px;
    padding-top: 135px;
}
.EBMspeed{
    padding-left: 430px;
    padding-top: 45px;
}
.ZA2{
    padding-left: 1750px;
    padding-top: 30px;
}
.ZA2speed{
    padding-left: 1750px;
    padding-top: 45px;
}
.ZA1{
    padding-left: 430px;
    padding-top: 0px;
}
.ZA1speed{
    padding-left: 430px;
    padding-top: 45px;
}
/* ---------------------------------------------------------------------- */
.box2{
    position: absolute;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 0.9cm;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 60px; /* ปรับความสูงได้ตามต้องการ */
}
.box3{
    position: absolute;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 0.9cm;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 60px; /* ปรับความสูงได้ตามต้องการ */
}
.DPT{
    padding-left: 70px;
    padding-top: 40px;
}
.EVtemp1{
    padding-left: 290px;
    padding-top: 435px;
}
.EVtemp2{
    padding-left: 290px;
    padding-top: 0px;
}
.valvepercent{
    padding-left: 420px;
    padding-top: 0px;
}
.valveflow{
    padding-left: 580px;
    padding-top: 0px;
}
.LEVtemp{
    padding-left: 800px;
    padding-top: 0px;
}
.LEVhum{
    padding-left: 960px;
    padding-top: 0px;
}
.EFF{
    padding-left: 1160px;
    padding-top: 0px;
}
.OAtemp{
    padding-left: 1360px;
    padding-top: 0px;
}
.OAhum{
    padding-left: 1520px;
    padding-top: 0px;
}
.OAfilter1{
    padding-left: 1675px;
    padding-top: 0px;
}
.OAfilter2{
    padding-left: 1785px;
    padding-top: 0px;
}


@media (max-width: 1920px) {
    .text {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }

    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }


}


