@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',serif;
}
html, body {
    overflow: hidden;
  }
  

  .GP {
    background-size: contain;
    background-position: center;
    object-fit: cover;
    position: absolute;
    top: 0%;
    width: 100%;
}
.GP img {
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 100%;
}
.BG {
    background-size: contain;
    background-position: center;
    object-fit: cover;
    position: absolute;
    top: 0%;
    width: 100%;
}
.BG img {
    background-size: contain;
    background-position: center;
    width: 100%;
    position: absolute;
}
.pxgraphic {
    display: flex;
    top: 53%;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 250px 50px;
}
.settingP2 {   
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 138px;
    height: 139px;
    z-index: 999;
}
.energyP2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 138px;
    height: 139px;
    z-index: 999;
}
.simP2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 138px;
    height: 139px;
    z-index: 999;
}
.EmerP2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 140px;
    height: 140px;
    z-index: 999;
}
.home { 
    position: absolute;
    padding-left: 0px;
    padding-top: 0px;
    width: 300px;
    height: 120px;
    z-index: 999;
}

@media (max-width: 1920px) {
    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .EmerP2 img {
        margin-top: -3px;
        margin-left: 1700px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }
    .home img {
        margin-top: 10px;
        margin-left: 30px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }  
    .energyP2 img {
        margin-top: 0px;
        margin-left: 1030px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }   
    .simP2 img {
        margin-top: 0px;
        margin-left: 665px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }
    .settingP2 img {
        margin-top: 0px;
        margin-left: 845px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }

}


@media (max-width: 1440px) {

    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .EmerP2 img {
        margin-top: 0px;
        margin-left: 1270px;
        padding-left: 0px;
        width: 70%;
        height: 70%;
    }
    .settingP2 img {
        margin-top: -3px;
        margin-left: 620px;
        padding-left: 0px;
        width: 75%;
        height: 75%;
    }
    .simP2 img {
        margin-top: -3px;
        margin-left: 485px;
        padding-left: 0px;
        width: 75%;
        height: 75%;
    }
    .energyP2 img {
        margin-top: -3px;
        margin-left: 760px;
        padding-left: 0px;
        width: 75%;
        height: 75%;
    }  
    .home img {
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 0px;
        width: 75%;
        height: 75%;
    } 
}


@media (max-width: 1180px) {

    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .text {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        scale: 0.61458333;
        margin-top: -190px;
        margin-left: -230px;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .EmerP2 img {
        margin-top: -3px;
        margin-left: 1030px;
        padding-left: 0px;
        width: 57%;
        height: 57%;
    }
    .settingP2 img {
        margin-top: -5px;
        margin-left: 500px;
        padding-left: 0px;
        width: 65%;
        height: 65%;
    }
    .simP2 img {
        margin-top: -5px;
        margin-left: 390px;
        padding-left: 0px;
        width: 65%;
        height: 65%;
    }
    .energyP2 img {
        margin-top: -5px;
        margin-left: 610px;
        padding-left: 0px;
        width: 65%;
        height: 65%;
    }    
    .APFilter img {
        margin-top: 380px;
        margin-left: 770px;
        padding-left: 0px;
        width: 50%;
        height: 50%;
    }    
    .wheel img {
        margin-top: 220px;
        margin-left: 580px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }    
    .home img {
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }  
}

