@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',serif;
}
html, body {
    overflow: hidden;
  }
  

.GP {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.GP a {
    position: absolute;
    display: flex;  
}
.pxgraphic {
    display: flex;
    top: 53%;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 60px 50px;
}
.home { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 0px;
    padding-top: 15px;
}
.P2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 0px;
    padding-top: 250px;
}
.EmerP2 { 

    padding-left: 1730px;
    padding-top: 30px;
}


/* ✅ Responsive สำหรับ PC ความกว้างสูงสุด 1920px */
@media screen and (max-width: 1920px) {
    .GP {
        background-size: contain;
        background-position: center;
        top: 0%;
    }
    .GP a {
        background-size: contain;
        background-position: center;
    }
}
@media screen and (max-width: 1440px) {
    .GP {
        background-size: contain;
        background-position: center;
        top: 15%;
    }
    .GP a {
        background-size: contain;
        background-position: center;
    }


}

/* ✅ Responsive สำหรับ iPad */
@media screen and (max-width: 1024px) {
    .GP {
        background-size: contain;
        background-position: center;
        top: 35%;
    }
    .GP a {
        background-size: contain;
        background-position: center;
    }

}