@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',serif;
}
html, body {
    overflow: hidden;
  }
  


  .GP {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
    font-family: 'Roboto',serif;
    object-fit: cover;
}
.GP img {
    position: absolute;
    object-fit: cover;
}

.pxgraphic {
    display: flex;
    top: 53%;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 250px 50px;
}
.settingP2 {   
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 890px;
    padding-top: 5px;
    z-index: 999;
}
.energyP2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 1075px;
    padding-top: 5px;
    z-index: 999;
}
.simP2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 710px;
    padding-top: 5px;
    z-index: 999;
}
.EmerP2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 1750px;
    padding-top: 0px;
    z-index: 999;
}
.home { 
    position: absolute;
    padding-left: 0px;
    padding-top: 0px;
    width: 300px;
    height: 120px;
    z-index: 999;
}

@media (max-width: 1920px) {
    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
   
}
