@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',serif;
}
html, body {
    overflow: hidden;
  }
  

  .GP {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
    font-family: 'Roboto',serif;
    object-fit: cover;
}
.GP img {
    position: absolute;
    object-fit: cover;
}
.BG {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.BG img {
    position: absolute;
    object-fit: cover;
    width: 100%;
}
.text {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.pxgraphic {
    display: flex;
    top: 53%;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 250px 50px;
}
.home { 
    position: absolute;
    padding-left: 0px;
    padding-top: 0px;
    width: 300px;
    height: 120px;
    z-index: 999;
}
.wheel { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 140px;
    height: 510px;
    z-index: 999;
}
.APFilter { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 140px;
    height: 260px;
    z-index: 999;
}
.EmerP2 {   
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 140px;
    height: 140px;
    z-index: 999;
}
.settingP2 {   
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 140px;
    height: 140px;
    z-index: 999;
}
.energyP2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 140px;
    height: 140px;
    z-index: 999;
}
.simP2 { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 140px;
    height: 140px;
    z-index: 999;
}

.AQIP2 { 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.AQIP2 img {
    position: absolute;
    object-fit: cover;
    width: 100%;
}
.Filter { 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.Filter img {
    position: absolute;
    object-fit: cover;
    width: 100%;
}


/* .sa { 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.sa img {
    position: absolute;
    object-fit: cover;
    width: 100%;
}
.ea { 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.ea img {
    position: absolute;
    object-fit: cover;
    width: 100%;
} */

/* .Filter {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    align-items: center;
    padding-left: 0px;
    position: absolute;
    display: flex;
    width: 1920px;
    height: 1080px;
} */

/* .sa {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    align-items: center;
    padding-left: 0px;
    position: absolute;
    width: 1920px;
    height: 1080px;
} */
/* .sa a {
    position:absolute;
    display: flex;
    transform: translate(81px, -5px);
} */
/* .ea {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    align-items: center;
    padding-left: 0px;
    position: absolute;
    width: 1920px;
    height: 1080px;
} */
/* .ea a {
    position:absolute;
    display: flex;
    transform: translate(29px, 10px);
} */

.smoke{
    padding-left: 115px;
    padding-top: 217px;
}
.box{
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 0.9cm;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 60px; /* ปรับความสูงได้ตามต้องการ */
}
.SAflow{
    padding-left: 400px;
    padding-top: 0px;
}
.SAtemp{
    padding-left: 730px;
    padding-top: 0px;
}
.RAfilter{
    padding-left: 985px;
    padding-top: 0px;
}
.RAfilter2{
    padding-left: 1100px;
    padding-top: 0px;
}
.RAtemp{
    padding-left: 1300px;
    padding-top: 0px;
}
.RAhum{
    padding-left: 1460px;
    padding-top: 0px;
}
.EAflow{
    padding-left: 1700px;
    padding-top: 0px;
}
/* ---------------------------------FAN-------------------------------------- */
.boxfan{
    position: absolute;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 0.9cm;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 60px; /* ปรับความสูงได้ตามต้องการ */
}
.EBM{
    padding-left: 430px;
    padding-top: 135px;
}
.EBMspeed{
    padding-left: 430px;
    padding-top: 45px;
}
.ZA2{
    padding-left: 1750px;
    padding-top: 30px;
}
.ZA2speed{
    padding-left: 1750px;
    padding-top: 45px;
}
.ZA1{
    padding-left: 430px;
    padding-top: 0px;
}
.ZA1speed{
    padding-left: 430px;
    padding-top: 45px;
}
/* ---------------------------------------------------------------------- */
.box2{
    position: absolute;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 0.9cm;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 60px; /* ปรับความสูงได้ตามต้องการ */
}
.box3{
    position: absolute;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 0.9cm;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 60px; /* ปรับความสูงได้ตามต้องการ */
}
.DPT{
    padding-left: 70px;
    padding-top: 40px;
}
.EVtemp1{
    padding-left: 290px;
    padding-top: 435px;
}
.EVtemp2{
    padding-left: 290px;
    padding-top: 0px;
}
.valvepercent{
    padding-left: 420px;
    padding-top: 0px;
}
.valveflow{
    padding-left: 580px;
    padding-top: 0px;
}
.LEVtemp{
    padding-left: 800px;
    padding-top: 0px;
}
.LEVhum{
    padding-left: 960px;
    padding-top: 0px;
}
.EFF{
    padding-left: 1160px;
    padding-top: 0px;
}
.OAtemp{
    padding-left: 1360px;
    padding-top: 0px;
}
.OAhum{
    padding-left: 1520px;
    padding-top: 0px;
}
.OAfilter1{
    padding-left: 1675px;
    padding-top: 0px;
}
.OAfilter2{
    padding-left: 1785px;
    padding-top: 0px;
}


@media (max-width: 1920px) {
    .text {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .AQIP2 {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .AQIP2 img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .Filter {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .Filter img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }

    .EmerP2 img {
        margin-top: 0px;
        margin-left: 1700px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }
    .settingP2 img {
        margin-top: 0px;
        margin-left: 850px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }
    .simP2 img {
        margin-top: 0px;
        margin-left: 650px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }
    .energyP2 img {
        margin-top: 0px;
        margin-left: 1050px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }    
    .APFilter img {
        margin-top: 600px;
        margin-left: 1270px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }    
    .wheel img {
        margin-top: 350px;
        margin-left: 970px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }    
    .home img {
        margin-top: 10px;
        margin-left: 30px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }  

}

@media (max-width: 1440px) {

    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .text {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        scale: 0.75;
        margin-top: -125px;
        margin-left: -180px;
    }
    .AQIP2 {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .AQIP2 img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .Filter {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .Filter img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .emerP2 img {
        margin-top: -3px;
        margin-left: 1270px;
        padding-left: 0px;
        width: 70%;
        height: 70%;
    }
    .settingP2 img {
        margin-top: -3px;
        margin-left: 630px;
        padding-left: 0px;
        width: 75%;
        height: 75%;
    }
    .simP2 img {
        margin-top: -3px;
        margin-left: 460px;
        padding-left: 0px;
        width: 75%;
        height: 75%;
    }
    .energyP2 img {
        margin-top: -3px;
        margin-left: 800px;
        padding-left: 0px;
        width: 75%;
        height: 75%;
    }    
    .APFilter img {
        margin-top: 460px;
        margin-left: 950px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }    
    .wheel img {
        margin-top: 260px;
        margin-left: 720px;
        padding-left: 0px;
        width: 75%;
        height: 75%;
    }    
    .home img {
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 0px;
        width: 75%;
        height: 75%;
    }    


}


@media (max-width: 1180px) {

    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .text {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        scale: 0.61458333;
        margin-top: -190px;
        margin-left: -230px;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .AQIP2 {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .AQIP2 img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .Filter {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .Filter img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .emerP2 img {
        margin-top: -7px;
        margin-left: 1030px;
        padding-left: 0px;
        width: 57%;
        height: 57%;
    }
    .settingP2 img {
        margin-top: -7px;
        margin-left: 530px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }
    .simP2 img {
        margin-top: -7px;
        margin-left: 410px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }
    .energyP2 img {
        margin-top: -7px;
        margin-left: 650px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }    
    .APFilter img {
        margin-top: 380px;
        margin-left: 770px;
        padding-left: 0px;
        width: 50%;
        height: 50%;
    }    
    .wheel img {
        margin-top: 220px;
        margin-left: 580px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }    
    .home img {
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }    


}
