@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',serif;
}
html, body {
    overflow: hidden;
  }
  

  .GP {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
    font-family: 'Roboto',serif;
    object-fit: cover;
}
.GP img {
    position: absolute;
    object-fit: cover;
}
.BG {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.BG img {
    position: absolute;
    object-fit: cover;
    width: 100%;
}
.pxgraphic {
    display: flex;
    top: 53%;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 60px 50px;
}
.home { 
    position: absolute;
    padding-left: 0px;
    padding-top: 0px;
    width: 300px;
    height: 120px;
    z-index: 999;
}
/* .home {
    position: absolute;
    object-fit: cover;
    width: 100%;
} */
.EmerP2 {   
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-top: 10px;
    width: 140px;
    height: 140px;
    z-index: 999;
}

/* ✅ Responsive สำหรับ PC ความกว้างสูงสุด 1920px */
@media (max-width: 1920px) {
    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .EmerP2 img {
        top: 0%;
        left: 0%;
        margin-top: 7px;
        margin-left: 1750px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }
    .home img {
        margin-top: 10px;
        margin-left: 30px;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }  
}
@media (max-width: 1440px) {
   
    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .EmerP2 img {
        margin-top: 7px;
        margin-left: 1320px;
        padding-left: 0px;
        width: 70%;
        height: 70%;
    }
    .home img {
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 0px;
        width: 70%;
        height: 70%;
    }    
}
/* ✅ Responsive สำหรับ iPad */
@media (max-width: 1180px) {
   
    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .EmerP2 img {
        margin-top: 7px;
        margin-left: 1080px;
        padding-left: 0px;
        width: 57%;
        height: 57%;
    }
    .home img {
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }    
}
@media (max-width: 1124px) {
   
    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .EmerP2 img {
        margin-top: 7px;
        margin-left: 1030px;
        padding-left: 0px;
        width: 52%;
        height: 52%;
    }
    .home img {
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }    
}
@media (min-width: 920px) and (max-width: 1024px) {
   
    .GP {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .GP img {
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
    }
    .BG {
        background-size: contain;
        background-position: center;
        object-fit: cover;
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .BG img {
        background-size: contain;
        background-position: center;
        width: 100%;
        position: absolute;
    }
    .EmerP2 img {
        margin-top: 3px;
        margin-left: 900px;
        padding-left: 0px;
        width: 52%;
        height: 52%;
    }
    .home img {
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 0px;
        width: 60%;
        height: 60%;
    }   
}
