@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',serif;
}
html, body {
    overflow: hidden;
  }
  

.GP {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    position: absolute;
}
.GP a {
    position: absolute;
    display: flex;  
}
.pxgraphic {
    display: flex;
    top: 53%;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 60px 50px;
}
.home { 
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 0px;
    padding-top: 15px;
}
.EmerP2 { 
    padding-left: 1750px;
    padding-top: 10px;
}
.PMgood {
    margin-top: -10px;
}
.PMmod {
    margin-top: -10px;
}
.PMbad {
    margin-top: -10px;
}
.GPbox1{
    padding-left: 810px;
    padding-top: 220px;
}
.box{
    position: absolute;
    display: flex;
    font-size: 1cm;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 73px; /* ปรับความสูงได้ตามต้องการ */

}
.GPbox2{
    padding-left: 1480px;
    padding-top: 0px;
}
.GPbox3{
    padding-left: 810px;
    padding-top: 735px;
}
.smoke {
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 1580px;
    padding-top: 500px;
}
.AR {
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 1580px;
    padding-top: 240px;
}
.goodair {
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -22px;
    margin-top: -14px;
}


/* ✅ Responsive สำหรับ PC ความกว้างสูงสุด 1920px */
@media screen and (max-width: 1920px) {
    .GP {
        background-size: contain;
        background-position: center;
        top: 0%;
    }
    .GP a {
        background-size: contain;
        background-position: center;
    }
}
@media screen and (max-width: 1440px) {
    .GP {
        background-size: contain;
        background-position: center;
        top: 0%;
    }
    .GP a {
        background-size: contain;
        background-position: center;
    }


}

/* ✅ Responsive สำหรับ iPad */
@media screen and (max-width: 1024px) {
    .GP {
        background-size: contain;
        background-position: center;
        top: 0%;
    }
    .GP a {
        background-size: contain;
        background-position: center;
    }

}