/* ตั้งค่าพื้นฐาน */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {

  font-family: "Roboto", serif;
  font-weight: 550;
  font-style: normal;
}


/* พื้นหลัง */
.BG {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.BG a {
  position: absolute;
  display: flex;
}
/* ✅ กำหนดพื้นที่กดที่มุมซ้ายบน */
.Home {
  position: absolute;
  top: 5px; /* ระยะห่างจากด้านบน */
  left: 10px; /* ระยะห่างจากด้านซ้าย */
  width: 14vw; /* ขนาดของพื้นที่กด */
  height: 15vh; 
  background: transparent; /* พื้นหลังโปร่งใส */
  border-radius: 10px; /* ให้ขอบโค้งมน */
  cursor: pointer;
  z-index: 2000;
  transition: background 0.3s;
}
